<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>
  <br>
  <div style="margin:10px; font-size: 20px; color:red;">
    {{error}}
  </div>
  <div *ngIf="tie" class="winner">
    Tie!
  </div>
  <div *ngIf="!hide" style="margin:auto; width: 100%;">
  <div style=" margin-right: 50%;" class="winner" *ngIf="winnerLeft && !tie">Winner!</div>
  <div style=" margin-left: 50%;" class="winner" *ngIf="!winnerLeft && !tie">Winner!</div>
  </div>
  <div *ngIf="!hide">
  <div style="float: left; margin:10px">
  <app-profile [userTemp]="items[0]" [back]="lefter"></app-profile>
  <div class="score">
    score : {{score0}}
  </div>
  </div>
  <div style = "float: right;margin:10px">
  <app-profile [userTemp]="items[1]" [back]="righter"></app-profile>
  <div class="score">
    score : {{score1}}
  </div>
  </div>
</div>
<div style="align-content: center; font-size: 20px; border-style: inset; border-width: 10px; border-radius: 15px; border-color: black; padding: 10px">
<p style="text-align: center;">The winner is determined by which user has the highest score.</p>
<p style="text-align: center;">Score is determined by: </p>
<ul style="list-style-type: none; align-self: center; font-size: 17px; align-content: center;">
<li>Number of titles x 1000</li>
<li>Total number of stars</li>
<li>Highest star count</li>
<li>Number of public repos</li>
<li>Number of perfect repos</li>
<li>Number of followers</li>
<li>Number of people following</li>
</ul>
</div>
</div>
