.submit-button{
  box-sizing: border-box;
width: 265px;
height: 81px;
cursor: pointer;
background: #cfcfcf;
border: 5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
font-size: 16px;
}

.winner{
  text-align: center; 
  font-size: 40px;
  color:rgb(0, 188, 6);
}
.score{
  margin: 40px;
  font-size: 40px;
  text-align: center;
  align-content: center;
}

li{
  margin-bottom: 5px;
  text-align: center;
}