<div class="body" 
  [style.background-color]=back
  >
  <div style=" font-size: 25px;">
    <div style="float:left; margin: auto; max-width: 50%; padding:20px">
    <img style="border-color: black; border-width: 10px; border-style: double; max-height: 200px; max-width: 200px; position:relative" src="{{userTemp.avatar_url}}">
    <br>
    <div style="border-width: 5px; border-style:solid; padding:5px; font-size: 16px; max-width: 200px;">
    {{userTemp["bio"]}}
    </div>
    </div>
    <div style="float:right;margin:auto; max-width: 50%; padding: 20px;">
    <button>username</button> {{userTemp["username"]}}<br>
    <button>name</button> {{userTemp["name"]}}<br>
    <button>location</button> {{userTemp["location"]}}<br>
    <button>titles</button> {{userTemp["titles"]}}<br>
    <button>fav language</button> {{userTemp["favorite-language"]}}<br>
    <button>total number stars</button> {{userTemp["total-stars"]}}<br>
    <button>highest stars</button> {{userTemp["highest-starred"]}}<br>
    <button>public repos</button> {{userTemp["public-repos"]}}<br>
    <button>perfect repos</button> {{userTemp["perfect-repos"]}}<br>
    <button>followers</button> {{userTemp.followers}}<br>
    <button>following</button> {{userTemp.following}}<br>
    </div>
  </div>
</div>